*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
body {
  margin: 0;
  padding: 30px;
  max-width: 1400px;
  min-height: 100vh;
  background: #FBF3B9;

}
.edic-tarefa{
  color: #6658e9;
}
.titulo, .titulo-descricao{
  padding-top: 10px;
  display: flex;
  gap: 15px;
  color: #6658e9;
}

.checkbox{
  padding: 5px;
  margin: 5px;
  
}
.concluida{
  padding-top: 20px;
  margin: 5px;
  font-size: 18px;
  color: #6658e9;
}

.submit-button{
  border :border-gray-300 p-2 rounded;
  height: 5vh;
  width: 10vh;
  margin: 10px;
  background-color: #FFDCCC;
  border-color: #FDB7EA;
  color: #6658e9;
  text-decoration: none;
}

.nv-tarefa-link{
  color: #e667c4;
  text-decoration: none;
}
.nn-tarefa{
  color: #6658e9;
  padding-top: 20px;
}
.titulo{
  padding-top: 20px;
}
.titulo-tarefa {
  color: #6658e9;
  background-color: #f8eea5;
  width: 30vh;
  padding: 20px;
  margin: 10px;
  border: 3px solid #e667c4; 
}
.descricao-tarefa{
  color: #6658e9;
  background-color: #f8eea5;
  width: 35vh;
  height: 6%;
  padding: 20px;
  margin: 10px;
  border: 3px solid #e667c4; 
}
